<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szag.oms.manager.common.dao.manager.ModuleCustomerMapper">
	<resultMap id="BaseResultMap"
		type="cn.szag.oms.manager.common.domain.manager.ModuleCustomer">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="publishat" property="publishat" jdbcType="TIMESTAMP" />
		<result column="linktype" property="linktype" jdbcType="INTEGER" />
		<result column="linkurl" property="linkurl" jdbcType="VARCHAR" />
		<result column="parentid" property="parentid" jdbcType="VARCHAR" />
		<result column="idpath" property="idpath" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="btnId" property="btnid" jdbcType="VARCHAR" />
		<result column="btnFun" property="btnfun" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, publishat, linktype, linkurl, parentid, idpath,
		status, sort,
		product_id,
		icon, type, description, btnId, btnFun, source
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from base_module_customer
		where id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		base_module_customer
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert"
		parameterType="cn.szag.oms.manager.common.domain.manager.ModuleCustomer">
		insert into base_module_customer (id, name, publishat,
		linktype, linkurl, parentid,
		idpath, status, sort,
		product_id, icon,
		type,
		description, btnId, btnFun,
		source)
		values (#{id,jdbcType=CHAR},
		#{name,jdbcType=VARCHAR},
		#{publishat,jdbcType=TIMESTAMP},
		#{linktype,jdbcType=INTEGER}, #{linkurl,jdbcType=VARCHAR},
		#{parentid,jdbcType=VARCHAR},
		#{idpath,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{sort,jdbcType=VARCHAR},
		#{productId,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{btnid,jdbcType=VARCHAR},
		#{btnfun,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.szag.oms.manager.common.domain.manager.ModuleCustomer">
		insert into base_module_customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="publishat != null">
				publishat,
			</if>
			<if test="linktype != null">
				linktype,
			</if>
			<if test="linkurl != null">
				linkurl,
			</if>
			<if test="parentid != null">
				parentid,
			</if>
			<if test="idpath != null">
				idpath,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="btnid != null">
				btnId,
			</if>
			<if test="btnfun != null">
				btnFun,
			</if>
			<if test="source != null">
				source,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="publishat != null">
				#{publishat,jdbcType=TIMESTAMP},
			</if>
			<if test="linktype != null">
				#{linktype,jdbcType=INTEGER},
			</if>
			<if test="linkurl != null">
				#{linkurl,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				#{parentid,jdbcType=VARCHAR},
			</if>
			<if test="idpath != null">
				#{idpath,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="btnid != null">
				#{btnid,jdbcType=VARCHAR},
			</if>
			<if test="btnfun != null">
				#{btnfun,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.szag.oms.manager.common.domain.manager.ModuleCustomer">
		update base_module_customer
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="publishat != null">
				publishat = #{publishat,jdbcType=TIMESTAMP},
			</if>
			<if test="linktype != null">
				linktype = #{linktype,jdbcType=INTEGER},
			</if>
			<if test="linkurl != null">
				linkurl = #{linkurl,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				parentid = #{parentid,jdbcType=VARCHAR},
			</if>
			<if test="idpath != null">
				idpath = #{idpath,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="btnid != null">
				btnId = #{btnid,jdbcType=VARCHAR},
			</if>
			<if test="btnfun != null">
				btnFun = #{btnfun,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.szag.oms.manager.common.domain.manager.ModuleCustomer">
		update base_module_customer
		set name =
		#{name,jdbcType=VARCHAR},
		publishat = #{publishat,jdbcType=TIMESTAMP},
		linktype = #{linktype,jdbcType=INTEGER},
		linkurl =
		#{linkurl,jdbcType=VARCHAR},
		parentid = #{parentid,jdbcType=VARCHAR},
		idpath = #{idpath,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=INTEGER},
		sort = #{sort,jdbcType=VARCHAR},
		product_id
		= #{productId,jdbcType=VARCHAR},
		icon = #{icon,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		btnId = #{btnid,jdbcType=VARCHAR},
		btnFun = #{btnfun,jdbcType=VARCHAR},
		source =
		#{source,jdbcType=VARCHAR}
		where id = #{id,jdbcType=CHAR}
	</update>

	<select id="findModule" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_module_customer
		where 1=1
		<if test="module.type!=null and module.type!=''">
			and type = #{module.type}
		</if>
		<if test="module.parentid!=null and module.parentid!=''">
			and parentid=#{module.parentid}
		</if>
		GROUP BY id
		order by sort
	</select>

	<select id="listAuthorizedUser" resultMap="BaseResultMap">
		SELECT m.*,IFNULL(d.type,1) as selected from base_module_customer m
		INNER JOIN (SELECT * from base_module_permission_customer where
		target_id =#{userid}
		) as d on d.module_id=m.id
		where 1=1
		<if test="module.type!=null and module.type!=''">
			and m.type = #{module.type}
		</if>
		<if test="module.parentid!=null and module.parentid!=''">
			and m.parentid=#{module.parentid}
		</if>
	</select>
	<select id="initMenu" resultType="string" parameterType="java.util.List">
		SELECT id FROM base_module_customer where 
		parentid in 
		<foreach collection="list" open="(" separator="," close=")" item="menu">
            #{menu}
        </foreach> 
		OR id in 
		<foreach collection="list" open="(" separator="," close=")" item="menu">
            #{menu}
        </foreach>
	</select>
</mapper>