<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szag.oms.manager.common.dao.manager.OrderAttachmentMapper">
	<resultMap id="BaseResultMap"
		type="cn.szag.oms.manager.common.domain.manager.OrderAttachment">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="last_updator" property="lastUpdator" jdbcType="VARCHAR" />
		<result column="last_updator_id" property="lastUpdatorId"
			jdbcType="VARCHAR" />
		<result column="is_qualified" property="isQualified" jdbcType="INTEGER" />
		<result column="attachment_name" property="attachmentName"
			jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="INTEGER" />
		<result column="format" property="format" jdbcType="VARCHAR" />
		<result column="sync_status" property="syncStatus" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		
	</resultMap>
	<sql id="Base_Column_List">
		id, order_id, file_url, createtime, creator_id, creator,
		del_flag,
		last_update_time,
		last_updator, last_updator_id, is_qualified,
		attachment_name, size, format,
		sync_status,type,status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from order_attachment
		where id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		order_attachment
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert"
		parameterType="cn.szag.oms.manager.common.domain.manager.OrderAttachment">
		insert into order_attachment (id, order_id, file_url,
		createtime, creator_id, creator,
		del_flag, last_update_time,
		last_updator,
		last_updator_id, is_qualified, attachment_name,
		size,
		format, sync_status,type
		)
		values (#{id,jdbcType=CHAR},
		#{orderId,jdbcType=VARCHAR},
		#{fileUrl,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR},
		#{delFlag,jdbcType=INTEGER},
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		#{lastUpdator,jdbcType=VARCHAR},
		#{lastUpdatorId,jdbcType=VARCHAR}, #{isQualified,jdbcType=INTEGER},
		#{attachmentName,jdbcType=VARCHAR},
		#{size,jdbcType=INTEGER},
		#{format,jdbcType=VARCHAR},
		#{syncStatus,jdbcType=INTEGER},
		#{type}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="cn.szag.oms.manager.common.domain.manager.OrderAttachment">
		insert into order_attachment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="fileUrl != null">
				file_url,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="creatorId != null">
				creator_id,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="lastUpdator != null">
				last_updator,
			</if>
			<if test="lastUpdatorId != null">
				last_updator_id,
			</if>
			<if test="isQualified != null">
				is_qualified,
			</if>
			<if test="attachmentName != null">
				attachment_name,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="format != null">
				format,
			</if>
			<if test="syncStatus != null">
				sync_status,
			</if>
			<if test="type != null">
				type,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
				#{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdator != null">
				#{lastUpdator,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdatorId != null">
				#{lastUpdatorId,jdbcType=VARCHAR},
			</if>
			<if test="isQualified != null">
				#{isQualified,jdbcType=INTEGER},
			</if>
			<if test="attachmentName != null">
				#{attachmentName,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				#{size,jdbcType=INTEGER},
			</if>
			<if test="format != null">
				#{format,jdbcType=VARCHAR},
			</if>
			<if test="syncStatus != null">
				#{syncStatus,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.szag.oms.manager.common.domain.manager.OrderAttachment">
		update order_attachment
		<set>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
				file_url = #{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				creator_id = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdator != null">
				last_updator = #{lastUpdator,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdatorId != null">
				last_updator_id = #{lastUpdatorId,jdbcType=VARCHAR},
			</if>
			<if test="isQualified != null">
				is_qualified = #{isQualified,jdbcType=INTEGER},
			</if>
			<if test="attachmentName != null">
				attachment_name = #{attachmentName,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				size = #{size,jdbcType=INTEGER},
			</if>
			<if test="format != null">
				format = #{format,jdbcType=VARCHAR},
			</if>
			<if test="syncStatus != null">
				sync_status = #{syncStatus,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="status !=null">
				status = #{status},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.szag.oms.manager.common.domain.manager.OrderAttachment">
		update order_attachment
		set order_id =
		#{orderId,jdbcType=VARCHAR},
		file_url = #{fileUrl,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		creator_id =
		#{creatorId,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER},
		last_update_time =
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		last_updator =
		#{lastUpdator,jdbcType=VARCHAR},
		last_updator_id =
		#{lastUpdatorId,jdbcType=VARCHAR},
		is_qualified =
		#{isQualified,jdbcType=INTEGER},
		attachment_name =
		#{attachmentName,jdbcType=VARCHAR},
		size = #{size,jdbcType=INTEGER},
		format = #{format,jdbcType=VARCHAR},
		sync_status =
		#{syncStatus,jdbcType=INTEGER},
		type = #{type},
		status = #{status}
		where id =
		#{id,jdbcType=CHAR}
	</update>
	<select id="selectByOrderId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM order_attachment
		WHERE order_id = #{orderId,jdbcType=CHAR} AND
		del_flag=0
		ORDER BY type 
	</select>

	<select id="findByOrderIdCount" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT
		COUNT(*)
		FROM order_attachment
		WHERE order_id =
		#{orderId,jdbcType=CHAR}
		AND del_flag=0 and file_url is NOT NULL
	</select>
</mapper>