<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szag.oms.manager.common.dao.manager.OrderEvaluationScoreMapper" >
  <resultMap id="BaseResultMap" type="cn.szag.oms.manager.common.domain.manager.OrderEvaluationScore" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="box_no" property="boxNo" jdbcType="VARCHAR" />
    <result column="container_id" property="containerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, score, createtime, creator, creator_id, type, box_no,container_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_evaluation_score
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_evaluation_score
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.szag.oms.manager.common.domain.manager.OrderEvaluationScore" >
    insert into order_evaluation_score (id, order_id, score, 
      createtime, creator, creator_id, 
      type, box_no,container_id)
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{boxNo,jdbcType=VARCHAR}, #{containerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.szag.oms.manager.common.domain.manager.OrderEvaluationScore" >
    insert into order_evaluation_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="boxNo != null" >
        box_no,
      </if>
      <if test="containerId != null" >
        container_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="containerId != null" >
        #{containerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.szag.oms.manager.common.domain.manager.OrderEvaluationScore" >
    update order_evaluation_score
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        box_no = #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="containerId != null" >
        container_id = #{containerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.szag.oms.manager.common.domain.manager.OrderEvaluationScore" >
    update order_evaluation_score
    set order_id = #{orderId,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      box_no = #{boxNo,jdbcType=VARCHAR},
      container_id = #{containerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="select" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from order_evaluation_score
    where order_id = #{orderId,jdbcType=VARCHAR} AND  container_id = #{containerId,jdbcType=VARCHAR}
     GROUP BY type
    ORDER BY type
    
  </select>
</mapper>