<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szag.oms.manager.common.dao.manager.RuleTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.szag.oms.manager.common.domain.manager.RuleTask" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="flow_id" property="flowId" jdbcType="VARCHAR" />
    <result column="movement" property="movement" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pre_task_id" property="preTaskId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_name, flow_id, movement, status, pre_task_id, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rule_task
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rule_task
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.szag.oms.manager.common.domain.manager.RuleTask" >
    insert into rule_task (id, task_name, flow_id, 
      movement, status, pre_task_id, 
      create_date, update_date)
    values (#{id,jdbcType=CHAR}, #{taskName,jdbcType=VARCHAR}, #{flowId,jdbcType=VARCHAR}, 
      #{movement,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{preTaskId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.szag.oms.manager.common.domain.manager.RuleTask" >
    insert into rule_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="flowId != null" >
        flow_id,
      </if>
      <if test="movement != null" >
        movement,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="preTaskId != null" >
        pre_task_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null" >
        #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="movement != null" >
        #{movement,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="preTaskId != null" >
        #{preTaskId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.szag.oms.manager.common.domain.manager.RuleTask" >
    update rule_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null" >
        flow_id = #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="movement != null" >
        movement = #{movement,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="preTaskId != null" >
        pre_task_id = #{preTaskId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.szag.oms.manager.common.domain.manager.RuleTask" >
    update rule_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      flow_id = #{flowId,jdbcType=VARCHAR},
      movement = #{movement,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      pre_task_id = #{preTaskId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>